[submodule "Zadania_koncowe"]
	path = Zadania_koncowe
	url = https://github.com/MagdaChocaj/Zadania_koncowe.git
[submodule "Automation/Zadania_koncowe"]
	path = Automation/Zadania_koncowe
	url = https://github.com/MagdaChocaj/Zadania_koncowe.git
[submodule "Automation/MyStore_Automation"]
	path = Automation/MyStore_Automation
	url = https://github.com/MagdaChocaj/MyStore_Automation.git
[submodule "Automation/Number_Guessing_Game"]
	path = Automation/Number_Guessing_Game
	url = https://github.com/MagdaChocaj/Number_Guessing_Game.git
